In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
archivo = r"C:\Users\Carlosd\proyectos_python\Ventas.xlsx"
df = pd.read_excel(archivo)

# Mostrar las primeras filas para verificar que se carg√≥ correctamente
df.head()

    Categoria  Ventas
0  Producto A    1000
1  Producto B    1500
2  Producto A    2000
3  Producto C    1200
4  Producto B    1800